html,
body {
	height: 100%;
}

body {
	color: $dark-500;
	font-size: 14px;
	font-weight: 1.4;
	@extend %lato-400;
	background-color: #fff;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 20px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

