@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';


.title {
	font-size: 32px;
	@extend %Signika-600;
	color: $dark-900;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-align: center;
}

.more__link {
	font-size: 18px;
	line-height: 1.3;
	padding: 12px 24px;
	border: 1px solid #63A60E;
	box-sizing: border-box;
	border-radius: 6px;
	@extend %lato-400;
	letter-spacing: 0.03em;
}

.footer__form-btn:hover,
.promo-slider__link:hover,
.item__btn:hover {
	background-color: #4D800C;
}

.footer__form-btn:focus,
.promo-slider__link:focus {
	box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.footer__form-btn:active,
.promo-slider__link:active {
	color: rgba(255, 255, 255, 0.5);
}


.header {
	z-index: 1;
	&__top {
		background-color: $dark-800;
	}

	&__top-inner {
		display: flex;
		justify-content: space-between;
		text-align: center;
		@extend %lato-700;
		font-size: 13px;
		line-height: 1.2;
		color: $white;
		padding: 17px 0;
		text-transform: uppercase;
		letter-spacing: 0.03em;
		align-items: center;
	}

	&__top-inner a {
		transition: opacity 0.3s;
	}

	&__top-inner a:hover {
		opacity: 0.7;
	}

	&__contacts {
		display: flex;
	}

	&__contacts-item:last-child {
		padding-left: 48px;
	}

	&__contacts-link {
		display: flex;
		align-items: center;
	}

	&__contacts-link svg {
		height: 23px;
		fill: $white;
		margin-right: 12px;
	}

	&__contacts-link--adress svg {
		width: 32px;
	}

	&__contacts-link--phone svg {
		width: 22px;
	}

	&__menu-list {
		display: flex;
	}

	&__menu-item:not(:first-child) {
		padding-left: 24px;
	}

	&__info {
		background-color: $green-900;
	}

	&__info-inner {
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		align-items:center;
	}

	&__logo img {
		margin-right: 24px;
	}

	&__filter {
		position: relative;
	}

	&__filter-btn {
		padding: 15px 40px 15px 61px;
		background-color: $white;
		@extend %lato-600;
		color: $green-900;
		border: none;
		border-radius: 6px;
		margin-right: 30px;
		position: relative;
		letter-spacing: 0.03em;
		transition: background-color 0.5s;
		line-height: 1.4;
	} 

	&__filter-btn::before, 
	&__filter-btn::after,
	&__search-icon::before {
		content: '';
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		top: 50%;
		transform: translateY(-50%);
	}

	&__filter-btn::before {
		width: 25px;
		height: 17px;
		background-image:url("../images/icons/catalog-list.svg");
		left: 18px;
	}

	&__filter-btn::after {
		width: 4px;
		height: 7px;
		background-image: url("../images/icons/catalog-arrow_down.svg");
		right: 19px;
	}
	&__filter-btn:hover {
		background-color: $green-200;
	}

	&__filter-btn--active {
		border-radius: 6px 6px 0 0;
		&.header__filter-btn::after {
			background-image: url("../images/icons/catalog-arrow_up.svg");
		}
	}

	&__filter-list {
		display: none;
		position: absolute;
		width: calc(100% - 30px);
		
		&--active {
			display: block;
		}
	}

	&__filter-item {
		border: solid 1px rgba(193, 193, 193, 0.3);
		&:last-child {
			border-radius: 0px 0px 6px 6px;
		}
	
	}

	&__filter-link {
		display: block;
		background-color: $white;
		padding: 15px 24px;	
		border-left: solid 3px transparent;
		@extend %lato-400;
		font-size: 16px;
		line-height: 1.2;
		color: #000;
		transition: background-color 0.5s, color 0.5s;

		&:hover {
			color: $green-900;
			border-color: $green-900;
		}
	}

	&__search {
		margin-right: 45px;
		display: flex;
		max-width: 577px;
		width: 100%;
		min-height: 50px;
	}

	&__search-text {
		@extend %lato-400;
		border: none;
		background-color: $white;
		width: 419px;
		padding: 15px 15px 15px 51px;
		color: $dark-800;
		border-radius: 6px 0px 0px 6px;
		position: relative;
		
		&::placeholder {
			color: $dark-800;
			@extend %lato-400;
		}
	}

	&__search-btn {
		@extend %lato-600;
		background-color: $dark-800;
		color: $white;
		padding: 15px 52px;
		border-radius: 0px 6px 6px 0px;
		border: none;
		text-transform: uppercase;
		transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

		&:hover {
			background-color: $dark-500;
		}

		&:active {
			color: rgba(255, 255, 255, 0.5);
		}

		&:focus {
			box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
		}
	}

	&__search-icon {
		position: relative;
		z-index: 1;
		&::before {
			width: 20px;
			height: 20px;
			background-image: url('../images/icons/magnifier-serch.svg');
			left: 13px;
			top: 26px;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
	}

	&__nav-item {
		position: relative;
		padding-right: 24px;
		width: 50px;
		height: 50px;
		border-radius: 3px;
		transition: background-color 0.5s;
		&:hover {
			background-color: rgba(255, 255, 255, 0.1)
		}
	}
	&__nav-user {
		padding: 9px 13px;
		svg {
			width: 25px;
			height: 32px;
		}
	}

	&__nav-heart {
		padding: 11px 9px;
		svg {
			width: 32px;
			height: 28px;
		}
	}

	&__nav-cart {
		padding: 10px 9px;
		svg {
			width: 32px;
			height: 31px;
		}
	}

	&__nav-link {
		path {
			fill: $white;
		}
	}

	&__nav-num {
		position: absolute;
		@extend %lato-600;
		color: $red-900;
		font-size: 10px;
		line-height: 1.8;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: $white;
		text-align: center;
		left: 3px;
		top: 3px;
	}
}

.footer {
	background-color: $dark-800;
	&__top {
		padding: 30px 0;
	}
	&__top-inner {
		display: flex;
		justify-content: space-between;
	}
	&__logo img {
		margin-bottom: 30px;
	}

	&__form {
		margin-bottom: 36px;
		@extend %lato-400;
		line-height: 1;
		color: $white;
	}

	&__form-text {
		display: block;
		margin-bottom: 18px;
	}

	&__form-inner {
		display: flex;
	}

	&__form-input {
		padding: 12px;
		background-color: $white;
		border: none;
		border-radius: 6px 0px 0px 6px;
		max-width: 182px;
		&::placeholder {
			color: #4F4F4F;
		}
	}
	&__form-btn {
		display: inline-block;
		padding: 12px 10px 12px 14px;
		background-color: $green-900;
		border-radius: 0px 6px 6px 0px;
		color: $white;
		@extend %lato-700;
		border: none;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.2;
		box-shadow: 0px 0px 0px 4px transparent;
		transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
	}

	&__bottom {
		padding: 28px 0px;
		border-top: solid 1px $white;
		color: $white;
	}

	&__bottom-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bottom-accept {
		display: flex;
	}

	&__accept-item:first-child {
		padding-right: 24px;
	}

	a {
		opacity: 1;
		transition: opacity 0.5s;
		&:hover {
			opacity: 0.7;
		}
	}
}

.menu {
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
	max-width: 468px;
	width: 100%;
	&__list {
		width: 122px;
	}
	&__list:not(:last-child) {
		
		margin-right: 15px;
	}

	&__link {
		display: block;
		color: $white;
		margin-bottom: 18px;
}
}

.contacts {
	padding-top: 90px;
	max-width: 205px;
	color: $white;

	&__item {
		margin-bottom: 18px;
	}

	&__text {
		display: inline-block;
		margin-right: 12px;
	}

	&__social {
		display: flex;
	}

	&__social-item {
		&:not(:last-child) {
			padding-right: 12px;
		}
		svg {
			width: 32px;
			height: 32px;
		}
		path {
			fill: $white
		}
	}

}

.promo-slider {
	&__inner {
		position: relative;
		.slick-arrow {
			position: absolute;
			border: none;
			background-color: rgba(255, 255, 255, 0.8);
			padding: 14px 20px;
			border-radius: 6px;
			z-index: 1;
		}


		.slick-prev,
		.slick-next {
			top: 50%;
			transform: translateY(-50%);
		}
		.slick-prev {
			left: 60px;
		}

		.slick-next {
			right: 60px;
		}

	}
	&__item {
		padding: 143px 0;
		background-position: center right;
		background-repeat: no-repeat;
		background-size: cover;
		height: 600px;
		position: relative;
	}

	&__content {
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 6px;
		padding: 24px;
		width: 100%;
		margin-bottom: 30px;
	}

	&__content-carrot {
		max-width: 757px;
	}

	&__content-tomatoes {
		max-width: 804px;
	}

	&__content-greenery {
		max-width: 867px;
	}

	&__title {
		@extend %Signika-400;
		font-size: 60px;
		line-height: 1.3;
		color: $dark-500;
		text-transform: uppercase;
		
		span {
			color: $red-900;
		}
	}

	&__text {
		@extend %lato-400;
		font-size: 16px;
	}

	&__link {
		padding: 12px 24px;
		@extend %lato-400;
		color: $white;
		background-color: $green-900;
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: 0.03em;
		border-radius: 6px;
	}
}

.info {
	background-color: $silver-100;

	&__inner {
		display: flex;
		padding: 48px 0;
		justify-content: center;
		align-items:center;
	}

	&__item {
		padding-left: 74px;
		position: relative;
		max-width: 275px;

		&:not(:first-child) {
			margin-left: 48px;
		}
		&::before {
			content: '';
			position: absolute;
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			background-image: url('../images/icons/scooter.svg');
			z-index: 1;
		}
		&--return::before {
			background-image: url('../images/icons/return.svg');
		}

		&--around::before {
			background-image: url('../images/icons/around-24.svg');
		}

	}

	&__title {
		@extend %lato-700;
		color: $dark-900;
		font-size: 16px;
		margin-bottom: 5px;
	}
}

.products {
	padding: 72px 0;
	text-align: center;

	&__filter {
		padding: 30px 0 50px;
	}

	&__items {
		margin-bottom: 48px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
		
	}

	.products__link {
		color: $green-900;
		transition: background-color 0.5s, box-shadow 0.3s;

		&:hover {
			background-color: $green-100;
		}
		&:focus {
			box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5)
		}
		&:active {
			box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
		}

	}
}

.filter-items {
	display: flex;
	justify-content: center;

	&__item:not(:last-child) {
		margin-right: 24px;
	}

	&__item {
		text-transform: uppercase;
		font-size: 15px;
		@extend %lato-700;
		letter-spacing: 0.03em;
		padding-bottom: 5px;
		border-bottom: solid 3px transparent;
		transition: border-color 0.5s;
		cursor: pointer;
		width: fit-content;
		&:hover,
		&.mixitup-control-active {
			border-color: rgba(99, 166, 14, 0.2);
		}
	}

}
.item {
	padding: 12px 12px 18px 12px;
	border: 1px solid rgba(17, 17, 17, 0.2);
	border-radius: 6px;
	max-width: 300px;
	width: 100%;
	position: relative;
	transition: border-color 0.5s;
	text-align: left;

	&:hover {
		border-color: $green-900;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;
	}

	&__info {
		text-transform: uppercase;
		color: $white;
		font-size: 10px;
		line-height: 1;
		letter-spacing: 0.03em;
	}

	&__new,
	&__hit,
	&__sale {
		display: none;
		border-radius: 6px;
		padding: 3px 6px;
		margin-bottom: 6px;
	}

	&__new {
		background-color: $green-900;

	}

	&__hit {
		background-color: $orange-900;
	}

	&__sale {
		background-color: $red-900;
		margin-bottom: 0;
	}

	&--new .item__new {
		display: block;
	}

	&--hit .item__hit {
		display: block;
	}

	&--sale .item__sale {
		display: block;
	}

	&__favourites {
		border: none;
		background-color: transparent;
		padding: 0;
		right: 12px;
		
		svg {
			width: 32px;
			height: 29px;

			path {
				fill: $silver-600;
				transition: fill 0.5s;
			}
		}

		&:hover svg path {
			fill: $yellow-900;
		}

	}

	&__images {
		margin-bottom: 18px;
		max-width: 298px;
		width: 100%;
	}

	&__text {
		@extend %lato-600;
		color: $dark-900;
		letter-spacing: 0.03em;
		margin-bottom: 50px;
	}

	&__box {
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		left: 18px;
		right: 18px;
		bottom: 18px;
	}

	&__price {
		line-height: 1;
		letter-spacing: 0.03em;
	}

	&__old-price {
		color: $silver-600;
		margin-bottom: 5px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			border-bottom: 2px solid $silver-600;
			bottom: 5px;
			line-height: 0;
			transform: rotate(-14.99deg)
		}
	}

	&__new-price {
		color: $dark-500;
	}

	&__btn {
		padding: 8px;
		background-color: $green-900;
		border: none;
		border-radius: 3px;
		line-height: 0;
		cursor: pointer;
		transition: background-color 0.5s, box-shadow 0.3s;
		svg {
			width: 16px;
			height: 16px;
			transition: box-shadow 0.5s;
			path {
				fill: $white;
				transition: opacity 0.5s;
			}
		}

		&:focus {
			box-shadow: 0px 0px 0px 4px #e0edcf;
		}

		&:active {
			box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
			svg path {
				opacity: 0.5;
			}
		}
	}

}








@import 'media';